@import 'tailwindcss';

@layer base {
    button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
/* Dark mode colors. */
:root {
    --primary-button-hover: #06b6d4;
    --backdrop-color: #272727cc;
    --sl-color-accent: #06b6d4;
    --sl-color-accent-high: #22d3ee;
    --sl-color-accent-low: #164e63;
    --sl-color-black: #181818;
    --sl-color-gray-1: #eee;
    --sl-color-gray-2: #c2c2c2;
    --sl-color-gray-3: #8b8b8b;
    --sl-color-gray-4: #585858;
    --sl-color-gray-5: #383838;
    --sl-color-gray-6: #272727;
    --sl-color-white: #fff;
    --cyan-hsl: 188.7, 85.7%, 53.3%;
    --overlay-cyan: hsla(var(--cyan-hsl), .2);
    --border: hsla(var(--border-neutral), .4);
    --border-neutral: 0, 0%, 25.1%;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --primary-button-hover: #06b6d4;
    --backdrop-color: #f6f6f699;
    --sl-color-accent: #0891b2;
    --sl-color-accent-high: #164e63;
    --sl-color-accent-low: #22d3ee;
    --sl-color-black: #fff;
    --sl-color-gray-1: #272727;
    --sl-color-gray-2: #383838;
    --sl-color-gray-3: #585858;
    --sl-color-gray-4: #8b8b8b;
    --sl-color-gray-5: #c2c2c2;
    --sl-color-gray-6: #eee;
    --sl-color-gray-7: #f6f6f6;
    --sl-color-white: #181818;
    --cyan-hsl: 188.7, 85.7%, 53.3%;
    --border-cyan: 188.7, 85.7%, 88%;
    --border: hsla(var(--border-cyan), .4);
}

.page {
    background: linear-gradient(215deg, var(--overlay-cyan), transparent 40%), radial-gradient(var(--overlay-cyan), transparent 40%) no-repeat center center / cover, radial-gradient(var(--overlay-cyan), transparent 65%) no-repeat center center / cover;
    background-blend-mode: overlay;
}

header {
    border: none !important;
    padding: 0 !important;
}

header.header {
    background-color: transparent !important;
    height: 4.5rem !important;
    margin-inline: auto !important;
    padding-block: 0 !important;
    padding-inline: 2rem !important;
}

header > div:first-of-type {
    backdrop-filter: blur(12px) !important;
    background-color: var(--backdrop-color) !important;
    border: 1px var(--border) solid;
    border-radius: 36px;
    height: 100% !important;
    margin-inline: auto !important;
    margin-top: 1rem !important;
    max-width: 1536px;
    padding-inline: 2rem !important;
    width: auto !important;
}

select {
    background-image: none;
    box-shadow: none;
}

.sl-link-button.primary:hover {
    background-color: var(--primary-button-hover);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl-link-button.primary:hover svg {
    transform: translateX(0.25rem);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}